---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Seanne Buoy | Features" description="AAAAA">
  <main>
    <h1>Features</h1>
    <ul>
      <li>linkName and linkHref have 'any' type</li>
      <li>Fix 404 page</li>
      <li>hamburger is now broken</li>
      <li>Remove Astro bottm toolbar</li>
      <li>SSG?</li>
      <li>General clean-up</li>
    </ul>
  </main>
</BaseLayout>
