---
import BaseLayout from '../layouts/BaseLayout.astro';

const splashImageHoriz = './images/psari_transparent.png';
const splashImageVert = './images/psari_transparent_rotated.png';
const title = `Seanne Buoy | Home`;
const metaDesc = `Expressionistic artwork by Seanne Buoy in a variety of mediums.`;
---

<BaseLayout title={title} description={metaDesc}>
  <section aria-label="Artwork by Seanne Buoy" class="splash-image-wrapper">
    <a href="/work">
      <img
        src={splashImageVert}
        alt="Select the drawing of the fish to view the artist's body of work."
        class="splash-image--vertical"
      />
      <img
        src={splashImageHoriz}
        alt="Select the drawing of the fish to view the artist's body of work."
        class="splash-image--horizontal"
      />
    </a>
  </section>
</BaseLayout>

<style>
  html {
    height: auto;
    width: 100%;
    background-image: url(/images/background_paper4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @media (prefers-color-scheme: dark) {
    html {
      background-image: none !important;
    }
  }
</style>
