---

---

<footer>
  <p>&copy;<span id="copyright-date">2024</span> Seanne Buoy</p>
</footer>
<script is:inline>
  'use strict';

  const copyrightYear = new Date().getFullYear();
  const copyrightYearEl = document.querySelector('#copyright-date');

  if (copyrightYearEl) {
    copyrightYearEl.innerHTML = copyrightYear;
  }
</script>
