---
const currentPath = Astro.url.pathname;

const links = [
  ['home', '/'],
  ['work', '/work'],
  ['about', '/about'],
]; //[link name, link href]

const navLink = function (linkName: string, linkHref: string) {
  let isActive = false;
  const activeText = ' aria-current="page" class="active"';

  if (linkName === 'work' && currentPath.indexOf('work') > -1) {
    isActive = true;
  } else if (currentPath === linkHref) {
    isActive = true;
  }

  return (
    '<li><a href="' +
    linkHref +
    '"' +
    (isActive ? activeText : '') +
    '>' +
    linkName +
    '</a></li>'
  );
};
---

<header>
  <h1 class="h1-headline">
    <a href="/work"
      ><span class="visually-hidden">Artwork by</span> Seanne Buoy</a
    >
  </h1>
  <nav class="mainnav" aria-label="Main Menu">
    <input
      class="mainmenu-btn"
      type="checkbox"
      id="mainmenu-btn"
      name="mainmenu-btn"
    />
    <label class="mainmenu-icon" for="mainmenu-btn" tabindex="0"
      ><span class="navicon"></span></label
    >
    <ul class="mainmenu">
      {links.map((link) => <Fragment set:html={navLink(link[0], link[1])} />)}
      <li>
        <a href="mailto:contact@seannebuoy.art?subject=Contact%20Seanne%20Buoy"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
