---
// import Hamburger from './Hamburger.astro';
// const { pageName } = Astro.props;

const linkNames = [
  ['home', ''],
  ['work', 'work'],
  ['about', 'about'],
]; //[link name, link path]
---

<header>
  <h1 class="h1-headline">
    <a href="/work.html"
      ><span class="visually-hidden">Artwork by</span>Seanne Buoy</a
    >
  </h1>
  <nav class="mainnav" aria-label="Main Menu">
    <input class="mainmenu-btn" type="checkbox" id="mainmenu-btn" />
    <label class="mainmenu-icon" html-for="mainmenu-btn" tabindex="0"
      ><span class="navicon"></span></label
    >
    <ul class="mainmenu">
      <!-- {
        linkNames.map((linkName) => {
          if (pageName === linkName[0]) {
            return (
              <li>
                <a href={`/${linkName[1]}`} aria-current="page" class="active">
                  {linkName[0]}
                </a>
              </li>
            );
          }

          return (
            <li>
              <a href={`/${linkName[1]}`}>{linkName[0]}</a>
            </li>
          );
        })
      } -->
      <li><a href="/">Home</a></li>
      <li><a href="/work.html">Work</a></li>
      <li><a href="/about.html">About</a></li>
      <li>
        <a href="mailto:contact@seannebuoy.art?subject=Contact%20Seanne%20Buoy"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
