---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageName = 'about';
---

<BaseLayout
  title="Seanne Buoy | About"
  description="Learn about artist Seanne Buoy and kinesthetic synesthesia in her art."
>
  <section aria-labelledby="headline--about">
    <figure class="image-container--marquee">
      <img
        src="./images/the-milk-of-human-kindness_crop.jpg"
        alt="Art piece called The Milk of Human Kindness"
      />
      <!-- <figcaption>Bleached Black Fabric, 2023</figcaption> -->
    </figure>
    <h2 id="headline--about">About the Artist</h2>
    <p>
      Seanne Buoy is an emerging, self-taught artist from Austin, Texas. Their
      body of work spans diverse mediums, experimenting with charcoal,
      printmaking, collage, drawing, painting, and ceramics to converge into a
      style marked by an enigmatic cohesiveness. Within this style, shapes
      intermingle, lines dissipate, and a playful yet shadowed ambiguity arises,
      swaying along the lines between androgyneity, being, and the unknown.
    </p>
    <p>
      Buoy's creations consistently present images that are stark and
      emotionally resonant, delving into existentially challenging concepts with
      a profound compassion for the pain, wanting, and curious beauty of the
      human condition. This combination makes Seanne Buoy's artwork defy easy
      categorization, offering viewers an introspective and evocative lens into
      the polymorphic facets of our existence.
    </p>
    <p>
      Out of these nebulous artforms emerge shapes and anthropomorphic figures.
      Humanoid forms engage at a point between the tangible and the elusive,
      drawing from the raw essence of life while layering these forms with
      subconscious impressions.
    </p>
    <p>
      Email the artist at <a
        href="mailto:contact@seannebuoy.art?subject=Contact%20Seanne%20Buoy"
        >contact@seannebuoy.art</a
      ><br />Instagram: <a
        href="https://www.instagram.com/milk.a.neuron/?hl=en"
        target="_blank">@milk.a.neuron</a
      >
    </p>
  </section>
</BaseLayout>

<!-- <style define:vars={{ skillColor }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: green;
    color: var(--skillColor);
    font-weight: bold;
  }
</style> -->
