---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Seanne Buoy | Features" description="AAAAA">
  <main>
    <h1>Features</h1>
    <ul>
      <li>Nav? current page and aria</li>
      <li>hamburger is now broken</li>
      <li>Make nav menu more accessible</li>
      <li>Parse html</li>
      <li>Remove Astro bottm toolbar</li>
      <li>JSON data and passing data</li>
      <li>Unique meta content</li>
      <li>Copyright year</li>
      <li>Components</li>
      <li>SSG?</li>
    </ul>
  </main>
</BaseLayout>
