---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../css/global.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="container--1200">
    <Header />
    <main class="container--1000">
      <slot />
    </main>
    <Footer />
    {
      /*<script>
      import '../scripts/scripts.js';
    </script>*/
    }
    <script is:inline>
      'use strict';

      const copyrightYear = new Date().getFullYear();
      const copyrightYearEl = document.querySelector('#copyright-date');

      if (copyrightYearEl) {
        copyrightYearEl.innerHTML = copyrightYear;
      }
    </script>
  </body>
</html>
<!-- <style is:global>
</style> -->
