---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import './../assets/css/styles.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class={Astro.url.pathname === '/' ? 'background--splash' : null}
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!-- <link rel="stylesheet" href="/css/styles.css" /> -->
    <!-- <link rel="canonical" href="https://seannebuoy.art/" /> -->
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="container--1200">
    <Header />
    <main class="container--1000">
      <slot />
    </main>
    <Footer />
  </body>
</html>
