---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h1 class="h1-headline">
        <a href="/work"
          ><span class="visually-hidden">Artwork by</span>Seanne Buoy</a>
      </h1>
      <nav class="mainnav" aria-label="Main Menu">
        <input class="mainmenu-btn" type="checkbox" id="mainmenu-btn" />
        <label class="mainmenu-icon" html-for="mainmenu-btn" tabindex="0"
          ><span class="navicon"></span></label
        >
        <ul class="mainmenu">
          <li><a href="/">Home</a></li>
          <li><a href="/work">Work</a></li>
          <li><a href="/about">About</a></li>
          <li>
            <a
              href="mailto:contact@seannebuoy.art?subject=Contact%20Seanne%20Buoy"
              >Contact</a>
          </li>
          {/* <li><a href="/features">Features</a></li> */}
          <!-- <li><LinkContactUs social={SOCIAL} text={"Contact"} /></li>  -->
        </ul>
      </nav>
    </header>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
